.ios {
	.navbar {
		color: white;
		background-color: $colMain;
		font-size: 3em;
		.item-media .icon {
			color: white;
		}
		a {
			color: white;
		}
	}

	.button,
	.button.button-fill {
		background-color: $colMain;
		border: 1px solid $colMain;
	}
}